{% load static %}

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
 
    ym(52355608, "init", {
         id:52355608,
         clickmap:true,
         trackLinks:true,
         accurateTrackBounce:true,
         webvisor:true
    });
 </script>
 <noscript><div><img src="https://mc.yandex.ru/watch/52355608" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
 <!-- /Yandex.Metrika counter -->

<link rel="stylesheet" type="text/css" href="{% static 'plan.css' %}">

<div class="wrapper">
    <div class="title header center-text">My Plans</div>
    <div class="plan-text center-text"><a href="/new/">If you don't know what to do</a></div>
    <div class="share center-text" id="footer">
        <ul>
            <li><a href="/latest/">Latest</a>,</li>
            <li><a href="/top/">Most viewed</a></li>
        </ul>
    </div>
</div>

